@using System.Web.Http
@using System.Web.Http.Description
@using PGMainService.Areas.HelpPage.Models
@using PGMainService.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    <h2>Información de la solicitud</h2>

    <h3>Parámetros URI</h3>
    @Html.DisplayFor(m => m.UriParameters, "Parameters")

    <h3>Parámetros del cuerpo del mensaje</h3>

    <p>@Model.RequestDocumentation</p>

    @if (Model.RequestModelDescription != null)
    {
        @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
        if (Model.RequestBodyParameters != null)
        {
            @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
        }
    }
    else
    {
        <p>No.</p>
    }

    @if (Model.SampleRequests.Count > 0)
    {
        <h3>Formatos disponibles para la solicitud</h3>
        @Html.DisplayFor(m => m.SampleRequests, "Samples")
    }

    <h2>Información de Respuesta</h2>

    <h3>Descripción de recursos</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (Model.ResourceDescription != null)
    {
        @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
        if (Model.ResourceProperties != null)
        {
            @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
        }
    }
    else
    {
        <p>No.</p>
    }

    @if (Model.SampleResponses.Count > 0)
    {
        <h3>Response Formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>